.App {
  text-align: center;
  background-color: #496388;
  min-height: 100vh;
  font-family: 'Source Sans Pro', sans-serif;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* for the loading */
.loadingContainer{
  min-height: 40vh;
  display: flex;
  justify-content: center;
}
.loadingContainer div .loader{
  color:#B1B1FF;
  min-height: 100px;
  min-width: 100px;
}

/* for the homepage */
.containers {
  background: rgba(37, 49, 66, 0.75);
  color: white;
  margin: 10px;
  padding: 10px;
  font-size: 30px;
}

.containers h2 {
  text-align: left;
}

/* for the "about me" */
#picContainer{
  /* background:#0D1B61; */
  width: 100%;
  height:40vh;
}

/* for the skill */
.skillTab {
  background: #475466;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

/* for the project item */
.projectItem {
  background: #475466;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  min-height: 300px;
}

/* for the experience */

.experienceContainer {
  background: #475466;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  color: white;
}

.experienceContainer h4 {
  text-align: start;
}

.experienceContainer ul li {
  text-align: left;
}

/* contacts */
.contactBtn {
  margin: 10px;
  color: white;
}

.contactBtn:hover {
  transition: 0.8s background-color;
}

.contactBtn a {
  color: white;
}
.contactBtn a:hover {
  transition: 0.8s background-color;
  color: black;
}

/* linkedin */
#linkedinBtn {
  background: #0077B7;
}

#linkedinBtn:hover {
  background: #53c3ff;
  color: black;
}

/* github */
#githubBtn,#emailBtn {
  background: black
}

#githubBtn:hover,#emailBtn:hover {
  background: white;
  color: black;
}

/* ig */
#igBtn {
  text-align: center;
  color: #fff;
  background: rgb(205, 50, 50);

  /* background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%); */
}

#igBtn:hover {
  background: rgb(255, 58, 58);
  color: black;
}


/* messaging btn */
.msgBtn{
  color:white;
  background:#0D1B61
}